html
  head
    title TV Synopsis - Seasons
    link(rel="stylesheet" href="/css/styles.css")
body
  h1= showdata.title
  h2(class="seasonheader")= `Season ${season.number}`
  table
    tr(colspan=3 class="tableheader")
      th(class="col_num") No.
      th(class="col_title") Title
      th(class="col_director") Director
    for episode in season.episodes
      tr
        td.episodenumber= episode.number
        td.episodetitle= episode.title
        td= episode.director
      tr
        td(colspan=3)= episode.synopsis