html
  include partials/head
  body
    h1= showdata.title
    h2.seasonheader= `Season ${season.number}`
    table
      tr(colspan=3)
        th.col_num No.
        th.col_title Title
        th.col_director Director
      for episode in season.episodes
        tr
          td.episodenumber= episode.number
          td.episodetitle= episode.title
          td= episode.director
        tr
          td(colspan=3)= episode.synopsis