html
  head
    title TV Synopsis - Seasons
    link(rel="stylesheet" href="/css/styles.css")
body
  h1= title
  h2(class="seasonheader")= number
  table
    tr(colspan=3 class="tableheader")
      th(class="epnum") No.
      th(class="eptitle") Title
      th(class="epdirector") Director
    for episode in season.episodes
      tr
        td(class="epnum")= episode.number
        td(class="eptitle")= episode.title
        td(class="epdirector")= episode.director
      tr(colspan=3)
        td= episode.synopsis
      
  //- h1= title
  //- h2(class='season-heading') Season #{season.number}
  //- table
  //-   thead
  //-     tr
  //-       th No.
  //-       th Title
  //-       th Director
  //-   tbody    
  //-    for episode in season.episodes
  //-     tr
  //-       td= episode.number
  //-       td= episode.title
  //-       td= episode.director
  //-     tr
  //-       td(colspan=3)= episode.synopsis